<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>亦来云技术指南-后台管理系统</title> 
	<link href="{$Think.const.PUBLIC_F}Elafansadm/css/base.css" rel="stylesheet">
	<link href="{$Think.const.PUBLIC_F}Elafansadm/css/platform.css" rel="stylesheet">
	<link rel="stylesheet" href="{$Think.const.PUBLIC_F}Elafansadm/custom/uimaker/easyui.css">
</head> 
<body>
    <div class="container">
        <div id="pf-hd">
            <div class="pf-logo" style="width:190px;">
                <img src="{$Think.const.PUBLIC_F}Elafansadm/images/main/main_logo.png" alt="logo">
            </div>
            <div class="pf-nav-wrap">
              <div class="pf-nav-ww" style="width:810px;">
                <ul class="pf-nav">
				  <volist name="menulist" id="vob" key="k">
					  <eq name="k" value="1">
						  <li class="pf-nav-item home current" data-menu="sys-manage">
							  <a href="javascript:jump({$k-1},'{$vob.columnname}');">
								  <span class="iconfont">{$vob.icon}</span>
								  <span class="pf-nav-title">{$vob.columnname}</span>
							  </a>
						  </li>
					  </eq>
					   <neq name="k" value="1">
						  <li class="pf-nav-item home" data-menu="sys-manage">
							  <a href="javascript:jump({$k-1},'{$vob.columnname}');">
								  <span class="iconfont">{$vob.icon}</span>
								  <span class="pf-nav-title">{$vob.columnname}</span>
							  </a>
						  </li>
					  </neq>
				  </volist>
                </ul>
              </div>
            </div>
            <div class="pf-user">
                <div class="pf-user-photo">
                    <img src="{$Think.const.PUBLIC_F}Elafansadm/images/main/user.png" alt="">
                </div>
                <h4 class="pf-user-name ellipsis">{$curusername}</h4>
                <i class="iconfont xiala">&#xe607;</i>

                <div class="pf-user-panel">
                    <ul class="pf-user-opt">
						<!--
                        <li>
                            <a href="javascript:;">
                                <i class="iconfont">&#xe60d;</i>
                                <span class="pf-opt-name">用户信息</span>
                            </a>
                        </li>
						-->
                        <li class="pf-modify-pwd">
                            <a href="javascript:void(0);" id="setpwdbtn">
                                <i class="iconfont">&#xe634;</i>
                                <span class="pf-opt-name">修改密码</span>
                            </a>
                        </li>
                        <li class="pf-logout">
                            <a href="{$curhost}/elafansadm.php/Index/logout">
                                <i class="iconfont">&#xe60e;</i>
                                <span class="pf-opt-name">退出</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div id="pf-bd">
			<!-- 左侧菜单开始 -->
            <div id="pf-sider">
                
            </div>
            <!-- 左侧菜单结束 -->
			<div id="pf-page">
                <div id="tabsa" class="easyui-tabs" style="width:100%;height:100%;">
                  <div title="首页" style="padding:10px 5px 5px 10px;">
                    <iframe class="page-iframe" src="Main/workbench" frameborder="no"   border="no" height="100%" width="100%" scrolling="auto"></iframe>
                  </div>
                </div>
            </div>
        </div>
        <div id="pf-ft">
            <div class="system-name">
              <i class="iconfont">&#xe6fe;</i>
              <span>后台管理系统&nbsp;v1.0</span>
            </div>
            <div class="copyright-name">
              <span>CopyRight&nbsp;2017&nbsp;&nbsp;&nbsp;版权所有</span>
              <i class="iconfont" >&#xe6ff;</i>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{$Think.const.PUBLIC_F}Elafansadm/custom/jquery.min.js"></script>
    <script type="text/javascript" src="{$Think.const.PUBLIC_F}Elafansadm/custom/jquery.easyui.min.js"></script>
    <!-- <script type="text/javascript" src="js/menu.js"></script> -->
    <script type="text/javascript" src="{$Think.const.PUBLIC_F}Elafansadm/js/main.js"></script>
    <!--[if IE 7]>
      <script type="text/javascript">
        $(window).resize(function(){
          $('#pf-bd').height($(window).height()-76);
        }).resize();
        
      </script>
    <![endif]-->  

    
    <script type="text/javascript">
$('.easyui-tabs1').tabs({
			  tabHeight: 44,
			  onSelect:function(title,index){
				var currentTab = $('.easyui-tabs1').tabs("getSelected");
				if(currentTab.find("iframe") && currentTab.find("iframe").size()){
					currentTab.find("iframe").attr("src",currentTab.find("iframe").attr("src"));
				}
			  }
			})
    $(window).resize(function(){
          $('.tabs-panels').height($("#pf-page").height()-46);
          $('.panel-body').height($("#pf-page").height()-76)
    }).resize();

    var page = 0,
        pages = ($('.pf-nav').height() / 70) - 1;

    if(pages === 0){
      $('.pf-nav-prev,.pf-nav-next').hide();
    }
    $(document).on('click', '.pf-nav-prev,.pf-nav-next', function(){


      if($(this).hasClass('disabled')) return;
      if($(this).hasClass('pf-nav-next')){
        page++;
        $('.pf-nav').stop().animate({'margin-top': -70*page}, 200);
        if(page == pages){
          $(this).addClass('disabled');
          $('.pf-nav-prev').removeClass('disabled');
        }else{
          $('.pf-nav-prev').removeClass('disabled');
        }
        
      }else{
        page--;
        $('.pf-nav').stop().animate({'margin-top': -70*page}, 200);
        if(page == 0){
          $(this).addClass('disabled');
          $('.pf-nav-next').removeClass('disabled');
        }else{
          $('.pf-nav-next').removeClass('disabled');
        }
        
      }
    })
    // setTimeout(function(){
    //    $('.tabs-panels').height($("#pf-page").height()-46);
    //    $('.panel-body').height($("#pf-page").height()-76)
    // }, 200)
	jump(0,"综合管理");
	function jump(leftmenu,menuname){
		var menuarr = {$menuarr};
		var menu = $.parseJSON(menuarr[leftmenu]);
		var htmla = '<h2 class="pf-model-name"><span class="iconfont">&#xe64a;</span>'
                    +'<span class="pf-name">'+ menuname +'</span><span class="toggle-icon"></span></h2>';
			htmla = htmla + '<ul class="sider-nav">';
			for(var i=0;i< menu.length;i++){
						if(i==0){
							htmla = htmla + '<li class="current">';
						}else{
							htmla = htmla + '<li class="">';
						}
						htmla = htmla + '<a href="javascript:;">'
						+'<span class="iconfont sider-nav-icon">&#xe620;</span>'
						+'<span class="sider-nav-title">'+ menu[i]['menuname'] +'</span>'
						+'<i class="iconfont">&#xe642;</i>'
						+'</a>'
						+'<ul class="sider-nav-s">';
						var subsubmenu =  menu[i]['submenu'];
						for(var k=0;k< subsubmenu.length;k++){
							if(k==0 && i==0){
								curhref = subsubmenu[k]['submenuurl'];
								title = subsubmenu[k]['submenuname'];
								htmla = htmla +' <li class="active" style="cursor:pointer;"><a _href="'+ subsubmenu[k]['submenuurl'] +'">'+ subsubmenu[k]['submenuname'] +'</a></li>';
							}else{
								htmla = htmla +' <li class="" style="cursor:pointer;"><a _href="'+ subsubmenu[k]['submenuurl'] +'">'+ subsubmenu[k]['submenuname'] +'</a></li>';
							}
						}	
						htmla = htmla +'</ul></li>';
						//$('iframe').attr('src',curhref);
						
			}
			$('#pf-sider').html(htmla+"</ul>");
			if(leftmenu!=0){
				var content = '<iframe class="page-iframe"  src="'+curhref+'" frameborder="no"   border="no" height="100%" width="100%" scrolling="auto"></iframe>';
				$('#tabsa').tabs('add',{
					title:title,
					content:content,
					closable:true 
				});			
			}

	}
	$(document).on("click",".sider-nav-s li",function(){
		$(this).siblings().attr("class","");
		$(this).attr("class","active");
		var title = $(this).find("a").html();
		if ($('#tabsa').tabs('exists', title)){
			$('#tabsa').tabs('select', title);
		} else {
			var content = '<iframe class="page-iframe"  src="'+$(this).find("a").attr("_href")+'" frameborder="no"   border="no" height="100%" width="100%" scrolling="auto"></iframe>';
			$('#tabsa').tabs('add',{
				title:title,
				content:content,
				closable:true 
			});
		}
	})
	$("#setpwdbtn").click(function(){
		var title="修改密码";
		var curhref = "Sys/setpwdshow";
		var content = '<iframe class="page-iframe"  src="'+curhref+'" frameborder="no"   border="no" height="100%" width="100%" scrolling="auto"></iframe>';
		$('#tabsa').tabs('add',{
			title:title,
			content:content,
			closable:true 
		});	
	});
    </script>
</body> 
</html>
