<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Elastos developer">
    <meta name="keywords" content="Elastos developer">
    <meta name="renderer" content="webkit">
    <meta http-equiv = "X-UA-Compatible" content = "IE=Edge,chrome=1" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{$Think.const.PUBLIC_H}Home/images/favicon.png">
    <title>Developer - Elastos</title>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_H}Home/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_H}Home/css/common.css">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_H}Home/css/home.css">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_H}Home/css/animate.min.css">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_H}Home/css/login_index.css">
</head>
<body>
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
	<div style="display:table; width:100%; height:100%;">
	<div style="vertical-align:middle; display:table-cell;">
	<div class="modal-dialog modal-sm" style="background-color:#F6F9FD;width:420px;border-radius:10px;">
        <div class="modal-content" style="border: none;border-radius:10px;">
            <div class="col-right" style="background-color:#F6F9FD;border-radius:5px;width:470px;">
                <div class="modal-header" style="padding-top:30px;padding-bottom:15px;border:0px;">
                    <h4 class="modal-title" id="loginModalLabel" style="margin-top:30px;padding-bottom: 10px;font-size: 34px;color:#173045;width:90%;margin-left:5%;font-family:'Doppio One';">Bind Account</h4>
					<div style="height:4px;width:90%;margin-left:5%;">
						<div style="width:48px;float:left;height:4px;background-color:#173045;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;background-color:#18C8FF;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;background-color:#18FFFF;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;"></div>
					</div>
					<div style="height:30px;line-height:30px;width:90%;margin-left:5%;font-size:12px;color:#A7B2BC;">You must to bind your account!</div>
				</div>
                <div class="modal-body">
                    <section class="box-login v5-input-txt" id="box-login" style="height:150px;">
                        <form id="login_form" action="" method="post" autocomplete="off">
                           <ul style="list-style-type:none;">
                                <li class="form-group">
								<input class="form-control" id="id_account_cp_l" maxlength="50" name="account_l" placeholder="Email or username" type="text">
								<span class="reg_tip" style="display:block;color: red;margin-top: 7px;height: 20px;line-height: 15px;"></span>
								</li>
                                <li class="form-group">
								<input class="form-control" id="id_password_cp_l" name="password_l" placeholder="Password" type="password">
								<span class="reg_p_tip" style="display:block;color: red;margin-top: 7px;height: 20px;line-height: 15px;"></span>
								</li>
                             </ul>
                        </form>
                    </section>
					<div class="loginbtn" style="height:70px;">
						<button class="loginbtn_b" id="cpbtns" style="outline:none;background-color:#173045;color:#18FFFF;width:40%;float:left;border-radius:20px;height:40px;line-height:40px;">Bind</button>
						<div style="width:54%;height:40px;line-height:40px;text-align:right;float:left;font-size:12px;color:#b2b2b2;">Have an account?&nbsp;&nbsp;<a href="javascript:void(0);" id="jumplogins" style="color:#173045;">Log in</a>&nbsp;&nbsp;&nbsp;</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="{$Think.const.PUBLIC_H}Home/js/jquery-3.3.1.min.js"></script>
<script src="{$Think.const.PUBLIC_H}Home/js/bootstrap.min.js"></script>
<script src="{$Think.const.PUBLIC_H}Home/js/bootstrap-dialog.min.js"></script>
<script>
$("#emailModal").modal("show");
$("#cpbtns").click(function(){
	var cpuid = $("#id_account_cp_l").val();
	var cppwd = $("#id_password_cp_l").val();
	if(cpuid==""){
		BootstrapDialog.alert('账号不能为空！');
		return false;
	}
	if(cppwd==""){
		BootstrapDialog.alert('密码不能为空！');
		return false;
	}
	$.post(
		'upuser',
		{uid:cpuid,upwd:cppwd},
		function(data){
			if(data==1){
				BootstrapDialog.alert('绑定成功！');
			}else{
				BootstrapDialog.alert('绑定失败！');
			}
		}
	);
});
</script>
</body>