<div class="modal fade" id="pwechatqrcodeModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
	<div style="display:table; width:100%; height:100%;">
	<div style="vertical-align:middle; display:table-cell;">
	<div class="modal-dialog modal-sm" style="background-color:#F6F9FD;width:420px;border-radius:10px;">
        <div class="modal-content" style="border: none;border-radius:10px;">
            <div class="col-right" style="background-color:#F6F9FD;border-radius:5px;width:470px;">
                <div class="modal-header" style="padding-top:30px;padding-bottom:15px;border:0px;">
                   <button type="button" id="wcqrcode_close" style="outline:none;font-size:34px;margin-top:-10px;font-weight:300;font-family:'宋体';" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
               </div>
                <div class="modal-body">
					<div id="pscanrs" class="loginscanqrcode_wechat" style="width:100%;height:40px;line-height:40px;text-align:center;background-color:#F6F9FD;">scan code</div>
					<iframe src="" id="pwcqrcode" style="width:260px;height:275px;border:0px;margin-left:100px;margin-top:5px;"></iframe>
					<input type="hidden" value="{$logincate}" id="ploginstatus"/>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="{$Think.const.PUBLIC_H}Home/js/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){
	if($("#pwcqrcode").attr("src")==""){
		var wcurl = internationalWords.hosturl+'/index.php/Home/Index/qrcode';
		$("#pwcqrcode").attr("src",wcurl);
	}
	//if($("#ploginstatus").val()==""){
		var paw = setInterval(getwcrss,"2000");
	//}
	function getwcrss(){
		$.post(
			internationalWords.hosturl+'/index.php/Home/Login/pupdatewechatinfo',
			{d:2},
			function(data){
				if(data==1){
					clearInterval(paw);
					$("#pscanrs").html("授权成功");
					setTimeout(function(){$("#pwechatqrcodeModal").modal("hide"); window.location.reload();},1500);
				}else if(data==2){
					clearInterval(paw);
					$("#pwechatqrcodeModal").modal("hide");
					$("#scanfail").modal("show")
					setTimeout(function(){$("#scanfail").modal("hide");},3000);
					//$("#pwcqrcode").html("该微信账户已经绑定，请登录解绑！");
					//setTimeout(function(){$("#pwechatqrcodeModal").modal("hide"); window.location.reload();},2500);
				}
			}
		);
	}
});
</script>
