<div class="modal fade" id="multiplevotetip" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
	<div style="display:table; width:100%; height:100%;">
	<div style="vertical-align:middle; display:table-cell;">
	<div class="modal-dialog modal-sm" style="background-color:#F6F9FD;width:290px;border-radius:10px;">
        <div class="modal-content" style="border: none;border-radius:10px;">
            <div class="col-right" style="background-color:#F6F9FD;border-radius:5px;width:290px;">
                <div class="modal-header" style="border:0px;height:30px;">
					<button type="button" id="login_close" style="outline:none;font-size:34px;margin-top:-5px;font-weight:300;font-family:'宋体';" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                 </div>
                <div class="modal-body" style="padding:30px;height:170px;padding-top:10px;">
				  <div class="multiplevotetip" style="text-align:center;float:left;width:190px;height:100px;font-size:12px;margin-left:20px;margin-top:15px;line-height:100px;">
						Can't choose more than three
				  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
