<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
	<div style="display:table; width:100%; height:100%;">
	<div style="vertical-align:middle; display:table-cell;">
	<div class="modal-dialog modal-sm" style="background-color:#F6F9FD;width:420px;border-radius:10px;">
        <div class="modal-content" style="border: none;border-radius:10px;">
            <div class="col-right" style="background-color:#F6F9FD;border-radius:5px;width:470px;">
                <div class="modal-header" style="padding-top:30px;padding-bottom:15px;border:0px;">
                    <button type="button" id="jump_reg" style="outline:none;float:left;font-size:34px;margin-top:-10px;font-weight:300;font-family:'宋体';" class="close" data-dismiss="modal"><img src="{$Think.const.PUBLIC_H}Home/images/left-arrow.png" style="width:22px;height:13px;" /></button>
					<button type="button" id="login_close" style="outline:none;font-size:22px;margin-top:0px;font-weight:300;font-family:'宋体';" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title emailconfirmation" id="loginModalLabel" style="margin-top:35px;padding-bottom: 10px;font-size: 34px;color:#173045;width:90%;margin-left:5%;font-family:'Doppio One';">Email Confirmation</h4>
					<div style="height:4px;width:90%;margin-left:5%;">
						<div style="width:48px;float:left;height:4px;background-color:#173045;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;background-color:#18C8FF;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;background-color:#18FFFF;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;"></div>
					</div>
					<div class="logintitletip" style="height:30px;line-height:30px;width:90%;margin-left:5%;font-size:12px;color:#A7B2BC;">You can log in with your Cyber Republic crendentials</div>
				</div>
                <div class="modal-body">
                    <section class="box-login v5-input-txt" id="box-login" style="height:150px;">
                        <form id="login_form" action="" method="post" autocomplete="off">
                            <ul style="list-style-type:none;">
                                <li class="form-group" style="color:#A7B2BC;font-size:14px;font-family:'微软雅黑';"><span class="signupconfirmsendmail">We hava sent a confirmation code to &nbsp;&nbsp;</span><span style="color:#173045;" id="reguids"></span><span class="signupconfirmnorececode">,if you don't receive a code,click here to &nbsp;&nbsp;</span><button id="resendbtn" class="forgetpwdresedncode resendcodes" style="background-color:#F6F9FD;border:0px;">resend</button></li>
                                <li class="form-group">
								<input class="form-control signupconfirmcode" id="id_mailcode_l" maxlength="50" name="account_l" placeholder="Confirmation code" type="text">
								<span class="emailcode_l_tip" style="display:block;color: red;margin-top: 7px;height: 20px;line-height: 15px;text-align:left;"></span>
								</li>
                             </ul>
                        </form>
                    </section>
					<div class="loginbtn" style="height:55px;">
						<button class="loginbtn_b" id="checkemailbtn" style="outline:none;background-color:#173045;color:#18FFFF;width:40%;float:left;border-radius:20px;height:40px;line-height:40px;">Submit</button>
						<div style="width:54%;height:40px;line-height:40px;text-align:right;float:left;font-size:12px;color:#b2b2b2;"><span class="signhavaaaccount" style="display:inline;">Have an account?</span>&nbsp;&nbsp;<a href="javascript:void(0);" id="jumplogins"  class="logintitle" style="color:#173045;">Log in</a>&nbsp;&nbsp;&nbsp;</div>
					</div>
					<div class="logincontinue"  style="width:90%;margin-left:5%;text-align:center;line-height:40px;height:40px;color:#b2b2b2;">Or continue with</div>
					<div class="other_login">
						<a class="git_loginbtn_b" style="line-height:40px;font-size:12px;color:#5E6D82;width:35%;margin-left:10%;float:left;background-color:#fff;box-shadow: 0px 2px 6px rgba(23, 48, 69, 0.06);" href="{:U('Home/Login/oauth_login',array('type'=>'GITHUB'))}">
							<img src="{$Think.const.PUBLIC_H}Home/images/githublogo_login.png" style="width: 18px;height: 19px;margin-top: -3px;" />
							Github
						</a>
						<a class="chat_loginbtn_b" id="wechatqcodeemail"  href="javascript:void(0);"  style="line-height:40px;font-size:12px;color:#5E6D82;width:35%;margin-left:10%;float:left;background-color:#fff;box-shadow: 0px 2px 6px rgba(23, 48, 69, 0.06);" >
							<img src="{$Think.const.PUBLIC_H}Home/images/wechat_login.png" style="width: 18px;height: 19px;margin-top: -3px;" />
							<span class="loginwechat">WeChat</span>
						</a>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<style>
.resendcodes{color:#18C8FF;}
</style>
<script src="{$Think.const.PUBLIC_H}Home/js/jquery-3.3.1.min.js"></script>
<script>
	$("#checkemailbtn").click(function(){
		var id_mailcode_l = $("#id_mailcode_l").val();
		if(id_mailcode_l==""){
			$("#emailcode_l_tip").show();
			//$("#emailcode_l_tip").html("验证码不能为空！");
			$(".emailcode_l_tip").html(internationalWords.forgetpwdcodetip);
			return false;
		}else{
			$("#emailcode_l_tip").hide();
		}
		$.post(
			internationalWords.hosturl+'index.php/Home/Emailinfo/checkmailcodeandadd',
			{mailcode:$("#id_mailcode_l").val(),uid:window.localStorage.reguid,upwd:window.localStorage.regpwd},
			function(data){
				if(data==1){
					$("#id_mailcode_l").val("");
					window.location.href=internationalWords.hosturl+"/index.php/Home/Pcenter/index.html";
				}else{
					$(".emailcode_l_tip").show();
					//$(".emailcode_l_tip").html("邮箱验证码错误！");
					$(".emailcode_l_tip").html(internationalWords.forgetpwdcodetip);
				}
			}
		)
	});
	
var mytimes;
function daojishis(){
   var i1 = 60;
  mytimes =  setInterval(function(){
	  if(i1>0){
		  i1 = i1-1; 
		  $("#resendbtn").html("(已发送 "+i1+"s)");
		  $("#resendbtn").css("color","#A7B2BC");
		  if(i1==57){
			$("#resendtip").modal("hide");
		  }
	  }else{
			clearInterval(mytimes);
			if(sessionStorage.getItem('internationalWords')==1){
				$("#resendbtn").html("重发");
			}else{
				$("#resendbtn").html("resend");
			}
			$("#resendbtn").removeAttr("disabled");
		    $("#resendbtn").css("color","#18FFFF");
			//$(".resendcode").attr("id","resendbtn");
	  }
  }, 1000);
}
	$("#resendbtn").click(function(){
		//$(this).removeAttr("id");
		$(this).attr("disabled","disabled");
		$("#resendtip").modal("show");
		daojishis();
		$.post(internationalWords.hosturl+'index.php/Home/Emailinfo/sendmailing',{tomail:window.localStorage.reguid},function(data){if(data==1){}});
	});
$("#wechatqcodemail").click(function(){
	wechatqrcode_popup();
});
</script>
