<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
	<div style="display:table; width:100%; height:100%;">
	<div style="vertical-align:middle; display:table-cell;">
	<div class="modal-dialog modal-sm" style="background-color:#F6F9FD;width:420px;border-radius:10px;">
        <div class="modal-content" style="border: none;border-radius:10px;">
            <div class="col-right" style="background-color:#F6F9FD;border-radius:5px;width:470px;">
                <div class="modal-header" style="padding-top:30px;padding-bottom:15px;border:0px;">
                    <button type="button" id="login_close" style="outline:none;font-size:22px;margin-top:0px;font-weight:300;font-family:'宋体';" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title logintitle" id="loginModalLabel" style="margin-top:25px;padding-bottom: 10px;font-size: 34px;color:#173045;width:90%;margin-left:5%;font-family:'Doppio One';">Log in</h4>
					<div style="height:4px;width:90%;margin-left:5%;">
						<div style="width:48px;float:left;height:4px;background-color:#173045;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;background-color:#18C8FF;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;background-color:#18FFFF;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;"></div>
					</div>
					<div class="logintitletip" style="height:30px;line-height:30px;width:90%;margin-left:5%;font-size:12px;color:#A7B2BC;">You can log in with your Cyber Republic crendentials</div>
				</div>
                <div class="modal-body" style="padding-top:0px;">
                    <section class="box-login v5-input-txt" id="box-login" style="height:190px;">
                        <form id="login_form" action="" method="post" autocomplete="off">
                            <ul style="list-style-type:none;">
                                <li>
								<input class="form-control loginemail" id="id_account_l" maxlength="50" name="account_l" placeholder="Email" type="text">
								<span class="login_tip" style="display:block;"></span>
								</li>
                                <li>
								<input class="form-control loginepassword" id="id_password_l" name="password_l" placeholder="Password" type="password">
								<span class="login_p_tip"  style="display:block;color: red;margin-top: 7px;height: 20px;line-height: 15px;"></span>
								</li>
                             </ul>
                        </form>
                        <p class="good-tips marginB10" style="height:30px;line-height:25px;">
						<a href="javascript:void(0);" style="color:#5E6D82;float:left;" class="logineforgetpwd" id="forgetpwdbtn">Forgot password?</a>
						</p>
                    </section>
					<div class="loginbtn" style="height:55px;">
						<button class="loginbtn_b logintitle" id="loginbtns" style="outline:none;background-color:#CED6E3;color:#fff;width:40%;float:left;border-radius:20px;height:40px;line-height:40px;">Log In</button>
						<div style="width:54%;height:40px;line-height:40px;text-align:right;float:left;font-size:12px;"><span class="loginenoaccount" style="display:inline;">No account?</span> <a href="javascript:void(0);" class="logincreatone" id="jumpreg" style="color:#173045;">Create one</a>&nbsp;&nbsp;&nbsp;</div>
					</div>
					<div class="logincontinue" style="width:90%;margin-left:5%;text-align:center;line-height:40px;height:40px;">Or continue with</div>
					<div class="other_login">
						<a class="git_loginbtn_b" style="line-height:40px;font-size:12px;color:#5E6D82;width:35%;margin-left:10%;float:left;background-color:#fff;box-shadow: 0px 2px 6px rgba(23, 48, 69, 0.06);" href="{:U('Home/Login/oauth_login',array('type'=>'GITHUB'))}">
							<img src="{$Think.const.PUBLIC_H}Home/images/githublogo_login.png" style="width: 18px;height: 19px;margin-top: -3px;" />
							Github
						</a>
						<a class="chat_loginbtn_b" id="wechatqcode" style="line-height:40px;font-size:12px;color:#5E6D82;width:35%;margin-left:10%;float:left;background-color:#fff;box-shadow: 0px 2px 6px rgba(23, 48, 69, 0.06);" href="javascript:void(0);" >
							<img src="{$Think.const.PUBLIC_H}Home/images/wechat_login.png" style="width: 18px;height: 19px;margin-top: -3px;" />
							<span class="loginwechat">WeChat</span>
						</a>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="{$Think.const.PUBLIC_H}Home/js/jquery-3.3.1.min.js"></script>
<script>
$("#loginbtns").click(function(){
	var reguid = $("#id_account_l").val();
	var regpwd = $("#id_password_l").val();
	var reg1 = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)/;
    if(reg1.test(reguid) == false ) {
		$(".login_tip").show();
		$(".login_tip").html(internationalWords.loginemailtip);
		return false;
	}
	if(isNull(regpwd)){
		$(".login_p_tip").show();
		$(".login_p_tip").html(internationalWords.loginepasswordtip);
		return false;
	}
	$.post(
		internationalWords.hosturl+'/index.php/Home/Login/login',
		{uid:reguid,upwd:regpwd},
		function(data){
			if(data==1){
				window.location.href=internationalWords.hosturl+"/index.php/Home/Pcenter/index.html";
			}else{
				$(".login_p_tip").show();
				$(".login_p_tip").html(internationalWords.loginerror);
			}
		}
	);
});
$("#wechatqcode").click(function(){
	wechatqrcode_popup();
});
</script>