<div class="modal fade" id="resetpwdModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
	<div style="display:table; width:100%; height:100%;">
	<div style="vertical-align:middle; display:table-cell;">
	<div class="modal-dialog modal-sm" style="background-color:#F6F9FD;width:470px;border-radius:10px;">
		<div style="width:100%;height:5px;background-color:#173045;border-top-left-radius: 3px;border-top-right-radius: 3px;">&nbsp;</div>
        <div class="modal-content" style="border: none;border-radius:10px;">
            <div class="col-right" style="background-color:#F6F9FD;border-radius:5px;width:470px;">
                <div class="modal-header" style="padding-top:30px;padding-bottom:15px;border:0px;">
                    <button type="button" id="login_close" style="outline:none;font-size:34px;margin-top:-10px;font-weight:300;font-family:'宋体';" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title resetpwd" id="loginModalLabel" style="margin-top:35px;padding-bottom: 10px;font-size: 34px;color:#173045;width:90%;margin-left:5%;font-family:'Doppio One';">Reset Password</h4>
					<div style="height:4px;width:90%;margin-left:5%;">
						<div style="width:48px;float:left;height:4px;background-color:#173045;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;background-color:#18C8FF;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;background-color:#18FFFF;">&nbsp;</div>
						<div style="width:48px;float:left;height:4px;"></div>
					</div>
					<div style="height:30px;line-height:30px;width:90%;margin-left:5%;font-size:12px;color:#A7B2BC;"></div>
				</div>
                <div class="modal-body">
                    <section class="box-login v5-input-txt" id="box-login" style="height:150px;">
                        <form id="login_form" action="" method="post" autocomplete="off">
                            <ul style="list-style-type:none;">
                                <li class="form-group"  style="margin-bottom:0px;" >
								<input class="form-control resetpwdnewpwd"  id="newpwdd" maxlength="50" name="account_l" placeholder="New password" type="password">
								<span class="restpwd_tip" style="display:block;color: red;margin-top: 7px;height: 20px;line-height: 15px;"></span>
								</li>
                                <li class="form-group"  style="margin-bottom:0px;" >
								<input class="form-control resetpwdconfirmpwd" id="confirmpwd" maxlength="50" name="account_l" placeholder="Confirm password" type="password">
								<span class="crestpwd_tip" style="display:block;color: red;margin-top: 7px;height: 20px;line-height: 15px;"></span>
								</li>
                             </ul>
                        </form>
                    </section>
					<div class="loginbtn" style="height:55px;">
						<button class="loginbtn_b resetpwdbtn" id="resetbtn" style="outline:none;background-color:#173045;color:#18FFFF;width:40%;float:left;border-radius:20px;height:40px;line-height:40px;">Reset</button>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>